body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #8d95c9;
  text-align:center
}
footer{
  padding: 10px;
  background-color: #e6e6e6;
  margin-top: 0px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
nav ul {
  list-style: none;
  background-color: #e6e6e6;
  padding: 0;
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin: 0;
}
nav ul li a {
  display: block;
  padding: 10px 20px;
  color: #000000;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: #4c046d;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
